.text-align-center {
    text-align: center !important;
}

.cal-icon-style {
    text-align: right !important;
    margin-left: 90%;
    margin-top: -55px;
    width: 38px;
    height: 50px;
}

.datatable-body-cell-label {
    overflow: scroll;
 }

 .ngx-datatable.material .datatable-body .datatable-body-row .datatable-body-cell {
    text-align: left;
    padding: 0.1rem 0.1rem 0.9rem 0.9rem !important;
    vertical-align: top;
    border-top: 0;
    color: rgba(0, 0, 0, 0.87);
    transition: width 0.3s ease;
    font-size: 14px;
    font-weight: 400;
    color: grey;
}

.datatable-header-cell
{
   display: flex !important;
   align-items: center !important;
}

.alert-wrapper.sc-ion-alert-md {
    border-radius: 14px !important;
    background: url("/assets/img/img/bg.jpg") no-repeat;
}

.text-color {
    color: black;
}