<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      User Info
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="logo">
    <ion-icon class="icon-size" name="person-outline"></ion-icon>
  </div>
  <ion-item>
    <ion-input type="text" [(ngModel)]="emailId" disabled placeholder="UserName" name="userName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="firstName" [disabled]="isDisabled" placeholder="FirstName" name="firstName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="lastName" [disabled]="isDisabled" placeholder="LastName" name="lastName" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="text" [(ngModel)]="emailId" (focusout)="checkValidity('email')" [disabled]="isDisabled" placeholder="Email" name="emailId" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="password" [(ngModel)]="password" (focusout)="checkValidity('password')" [disabled]="isDisabled" placeholder="Password" name="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input type="number" [(ngModel)]="phoneNo" (focusout)="checkValidity('number')" [disabled]="isDisabled" placeholder="Phone No" name="phoneNo" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Currency</ion-label>
    <ion-select [(ngModel)]="currCode" [disabled]="isDisabled" value="brown" okText="Okay" cancelText="Dismiss">
      <ion-select-option value="HKD">HKD (Hongkong Dollar)</ion-select-option>
      <ion-select-option value="USD">USD (US Dollar)</ion-select-option>
      <ion-select-option value="INR">INR (Indian Rupees)</ion-select-option>
      <ion-select-option value="MYR">MYR (Malaysian Ringgit)</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-row class="text-align-center">
    <ion-col class="signup-col" *ngIf="!isDisabled">
      <ion-button (click)="updateUser()" class="submit-btn">Save</ion-button>
    </ion-col>
    <ion-col class="signup-col">
      <ion-button (click)="enableFields()" class="submit-btn">{{dynamicButton}}</ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="text-align-center">
    <ion-col class="signup-col">
      <ion-button (click)="logoutUser()" color="dark" >
         Logout
         <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
