<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registration</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div class="logo">
  </div>
  <form (ngSubmit)="register()" [formGroup]="registerForm">
    <ion-item>
      <ion-input type="text" formControlName="firstName" placeholder="FirstName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="text" formControlName="lastName" placeholder="LastName" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" [(ngModel)]="emailId" formControlName="emailId" placeholder="Email" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="passwordMod" (focusout)="checkValidity('password')" formControlName="password" placeholder="Password - should be min 8 characters" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="password" [(ngModel)]="cPasswordMod" (focusout)="checkPassword()" formControlName="confirm_password" placeholder="Confirm Password" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="number" [(ngModel)]="phoneNo" (focusout)="checkValidity('number')" formControlName="phoneNo" placeholder="Phone No" name="phoneNo" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select formControlName="currencyCode" value="brown" okText="Okay" cancelText="Dismiss">
        <ion-select-option value="HKD">HKD (Hongkong Dollar)</ion-select-option>
        <ion-select-option value="USD">USD (US Dollar)</ion-select-option>
        <ion-select-option value="INR">INR (Indian Rupees)</ion-select-option>
        <ion-select-option value="MYR">MYR (Malaysian Ringgit)</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-text style="margin-right: 10px;">What is your favorite?</ion-text>
      <ion-input type="text" formControlName="security" placeholder="Security answer" name="security" required></ion-input>
    </ion-item>

    <ion-row class="text-align-center">
      <ion-col class="signup-col">
        <ion-button class="submit-btn" full type="submit" [disabled]="!registerForm.valid">Register</ion-button>
      </ion-col>
    </ion-row>

  </form>
</ion-content>